html{
    height: 100%;
    width: 100%;

}

body{
    margin-top: 0;
    background-color: #0E2B46;
}

nav{
    display: flex;
    justify-content: space-around;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/418/472/1020/spider-man-movies-wallpaper-preview.jpg);
    color: white;
}

a{
 
        color: white;
   
}

#history>div>img,#superPowers>div>img{
    width: 40%;
    height: 80%;
}
#history>div>p,#superPowers>div>p{
    width: 40%;
    height: 80%;
}
#history>div,
#superPowers>div{
    display: flex;
    justify-content: space-around;
    align-items :center;
    color: red;
   
    font-size: medium;
}

h1{
    font-family: 'Roboto', sans-serif;
color: red;
    
}

@media only screen and   (max-width:900px) {
        
    nav{
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        background-image: url(https://c4.wallpaperflare.com/wallpaper/418/472/1020/spider-man-movies-wallpaper-preview.jpg);
        color: white;
    }
    #history>div,#superPowers>div{
        flex-direction: column-reverse;
    }
    h1{
        width: 100%;
        text-align: center;
    }
    #history>div>p,#superPowers>div>p{
    text-align: justify;
    text-justify: inter-word;
    }
}