h1{
    border-bottom: 3px solid rgb(174,174,174);
    box-sizing: border-box;
    height: 2em;

}

#catPictures{
    height: 21em;

}



.bold{
    font-weight: bold;
     
}

.flex-container{
    align-items : center;
    display: flex;
    justify-content : space-around
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;

}