
html,body{
    padding: 0px;
    margin: 0px;
}

section{
    background-image: url(./assets/O9FG4R0.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;

}



h1{
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }