*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#main{
    width: 75vw;
    height: 75vh;
    margin: 12.5vh 12.5vw;

}

table{
    width: 100%;
    height: 80%;
   
}

tr:nth-child(odd) {
    background: #CCC
}
tr:nth-child(even) {
    background: #FFF
}

td{
    width: 12.5%;
}

form{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 3%;
}